/* remove basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* variables */
:root {
    --primary: #8ba8a1;
    --secondary: #fae3d9;
}

body {
    background: #bbdec7d7;
    overflow-x: hidden;
    font-family: 'Crimson Pro', serif;

}

li {
    list-style: none;
}


/*fonts */

h1 {
    font-weight: 450;
    font-size: 1.8em;
    color: var(--primary);
} 

h2 {
    color: var(--primary);
    font-weight: 550;
    font-size: 1.2em;
    cursor: pointer;
}

h3 {
    color: var(--secondary);
    font-weight: 400;
    font-size: 1.1em;
}

p {
    font-weight: 400; 
    font-size: 1em;
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 20px;
}

.title {
    grid-column: 3 / span 5;
    grid-row: 1;
    color: #8ba8a1;
}

#shape {
    grid-column: 4 / span 8;
    grid-row: 3;
    margin: 1em 0;
    
}


.wrapper {
   display: none;
}


h2 {
    padding: 0.5em;
    border: 3px solid var(--secondary);
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: 5px auto;
}

h2:hover {
    background: var(--secondary);
    color: #222;
}

.projects-paint {
    background-color: #bbdec7d7;
}

.projects-heading {
    background-image:  #bbdec7d7 ;
    color: #222;
    border-radius: none;
    border: none;
    border-bottom: 3px solid var(--primary);
    margin: 0 auto;
    

}

.projects img {
    width: 30%;
    opacity: 0.7;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    margin: auto 0.2em;

}

.projects img:hover {
    opacity: 1;
}

.projects {  
    cursor: pointer;
    display: none;;
    height: 10em;
    align-items: center;

}


.about-paint {
    background-color: #ffbe88;
    background-size: cover;
    height: 100%;
    justify-content: center;
    margin: 0 auto;

}

.about-heading {
    background-image:  #ffbe88 ;
    color: #222;
    border-radius: none;
    border: none;
    border-bottom: 3px solid var(--primary);
    margin: 0 auto;

}

.about p {
   
    display: none;
    
}


.about-me-text span {
    width: 75%;
    margin: 3em auto;
    text-align: center;

}


input {
    padding: 10px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
}

textarea {
    padding: 50px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
}

.contact-paint {
    background: #ffa488e3;
    height: 10em auto;
    justify-content: center;
}

.contact-heading {
    background-image: #ffa488;
    color: #222;
    border-radius: none;
    border: none;
    border-bottom: 3px solid var(--primary);
    margin: 0 auto;

}

.test span {
    width: 75%;
}

#contact input, #contact textarea {
    width: 100%;
    margin: 10px 0;
}


#contact form, #contact p {
    width: 80%;
    max-width: 400px;
    margin: 15px auto;
    text-align: center;
    display: none;

}


.social ul {
    display: flex;
    padding: 20px;
    margin-top: 1em;
    justify-content: center;
    gap: 20px;
}

.social i {
    cursor: pointer;
}

.social i:hover {
    border: 2px solid #222;
    border-radius: 20px;
    background: var(--primary);
}